:root {
    --darkest-blue: #002f63;
    --dark-blue: #054da0;
    --light-blue: #397ed8;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 0);
}
.container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container img {
    height: 50vw;
    position: fixed;
    z-index: -1;
    top: 50vh;
}

.file input, .update input, .update button, .file button {
    width: 80%;
    height: 20%;
    font-family: monospace;
    font-weight: 600;
    font-size: 1rem;
    border: 0;
}
.file, .update {
    width: 45vw;
    height: 35vw;
    padding: 5vw 0 5vw 0;
    border-radius: 10px;
    margin: 10px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(35, 35, 35, 1);
    /* box-shadow: 0px 0px 50px rgb(56, 149, 255); */
    
}

.main-button {
    width: 60vw;
    height: 7vh;
    font-size: 1.5rem;
    background-color: rgba(35, 35, 35, 1);
    border: none;
    color: white;
    font-weight: lighter;
}

.main-button:hover {
    background-color: var(--light-blue);
}

#activate-send {
    border-radius: 2vh 2vh 0 0;
}

#activate-recv {
    border-radius: 0 0 2vh 2vh;
}

#grow {
    display: flex;
    animation: 0.3s ease 0s 1 normal forwards running grow;
    position: absolute;
    top: 0;
}


@media screen and (min-width: 800px){
    .container img {
        height: 90vh;
        top: 2rem;
    }
    .file, .update {
        display: none;
    }
}

@media screen and (max-width: 800px){
    .ip {
        display: none;
    }
}


@keyframes grow {
    0% {
        transform: scale(0) ;
    }
    100% {
        transform: scale(1) ;
        height: 70vh;
        width: 80vw;
    }
}